################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JobOverviewWin/v14
/JobOverview/bin/Debug
/JobOverview/obj/Debug
